<!-- app/views/devices/_form.html.erb -->
<%= form_with model: @device, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "Nom de l'objet" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category, "Type d'objet" %>
    <%= f.text_field :category, class: "form-control", placeholder: "Ex: Thermostat, Caméra, etc." %>
  </div>
  <div class="form-group">
    <%= f.label :location, "Emplacement" %>
    <%= f.text_field :location, class: "form-control", placeholder: "Ex: Salon, Cuisine..." %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :value, "Valeur (mesure)" %>
    <%= f.number_field :value, step: :any, class: "form-control" %>
  </div>
  <div class="form-group form-check">
    <%= f.check_box :active, class: "form-check-input" %>
    <%= f.label :active, "Objet actif ?", class: "form-check-label" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
